# These credentials are for your local db. The accounts can be changed
# at your discretion. In the future, these values will be in a secrets vault.
# The GB_API_KEY can be retrieved by visiting giantbomb.com/api while logged in.
MARIADB_DATABASE=gb_wiki
MARIADB_API_DUMP_DATABASE=gb_api_dump
MARIADB_USER=wiki_admin
MARIADB_PASSWORD=BYPASS.takes.prove.solved.slaying.locket
MARIADB_ROOT_PASSWORD=survived.charly.UGLIER.reefs.wreck.tagged
MW_SITE_SERVER=http://localhost:8080
MW_SCRIPT_PATH=""
MW_SITE_NAME=Giant Bomb Wiki
MW_DB_HOST=db
MW_DB_NAME=gb_wiki
MW_DB_USER=giantbomb
MW_DB_PASSWORD=JUJU.tumor.woodwork.puberty.shack
MW_PASS=gbwikipass
MW_SK=qjcm9gywee2ley8p1i67nqk17u0uwvf9qu4s5ef2buyi5wr08j032n1tv0a7w4qs
GB_API_KEY=YOUR_API_KEY_HERE
EXTERNAL_DB_HOST=db
EXTERNAL_DB_PORT=3306
EXTERNAL_DB_USER=wiki_admin
EXTERNAL_DB_PASSWORD=BYPASS.takes.prove.solved.slaying.locket
EXTERNAL_DB_NAME=gb_api_dump
MW_UK=f1613d0afefb6314
GB_API_KEY=YOUR_API_KEY_HERE
GB_SITE_SERVER=http://localhost:3000

ALGOLIA_APP_ID=
ALGOLIA_ADMIN_API_KEY=
ALGOLIA_SEARCH_API_KEY=
ALGOLIA_INDEX_CONTENT=gb_content

# GCS image storage (S3-compatible API)
GCS_HMAC_ACCESS_KEY=dev
GCS_HMAC_SECRET=test@test.com
GCS_BUCKET_NAME=gb-wiki-mw