services:
  db:
    image: mariadb:lts
    command: --skip-name-resolve=0
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      test: "mariadb -uroot -p$MARIADB_ROOT_PASSWORD $MARIADB_DATABASE -e 'SHOW DATABASES;'"
      interval: 5s
      retries: 5

  wiki:
    platform: "linux/amd64"
    build:
      context: .
      args:
        INSTALL_API: "false"
        INSTALL_GCSFUSE: "false"
      platforms:
        - "linux/amd64" # gotcha for those on Apple Silicon
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:80"
    volumes:
      #Skins
      - ./skins:/var/www/html/skins:cached
      # Extensions
      - ./extensions/AlgoliaSearch:/var/www/html/extensions/AlgoliaSearch:cached
      #These lines cause these skins not to be mounted to volume
      - /var/www/html/skins/Vector
      - ./config:/config
      - ./data:/data/
      - wiki-data:/var/www/html/images
      - ./tests:/var/www/html/gb-tests
      - ./extensions/GbSessionProvider:/var/www/html/extensions/GbSessionProvider
      # Import scripts
      - ./import_templates:/var/www/html/import_templates:cached
      - ./gb_api_scripts:/var/www/html/gb_api_scripts:cached
      # Dev startup script
      - ./docker:/docker:cached
    environment:
      - MV_ENV=dev
      - COMPOSER_ROOT_VERSION=1.43.6
    restart: unless-stopped

  local-gcs:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001" # Web UI Console
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: dev
      MINIO_ROOT_PASSWORD: test@test.com
    volumes:
      - ./data/images/gcs-local:/data

volumes:
  db-data:
  wiki-data:
  local-gcs: {}
