services:
  db:
    image: mariadb:11
    command: --skip-name-resolve=0
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      test: "mariadb -uroot -p$MARIADB_ROOT_PASSWORD $MARIADB_DATABASE -e 'SHOW DATABASES;'"
      interval: 5s
      retries: 5

  wiki:
    platform: "linux/amd64"
    build:
      context: .
      args:
        INSTALL_API: "false"
        INSTALL_GCSFUSE: "false"
      platforms:
        - "linux/amd64" # gotcha for those on Apple Silicon
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:80"
    volumes:
      #Skins
      - ./skins:/var/www/html/skins:cached
      # Extensions
      - ./extensions/AlgoliaSearch:/var/www/html/extensions/AlgoliaSearch:cached
      - ./extensions/GiantBombResolve:/var/www/html/extensions/GiantBombResolve:cached
      - ./extensions/GiantBombRouter:/var/www/html/extensions/GiantBombRouter:cached
      #These lines cause these skins not to be mounted to volume
      - /var/www/html/skins/Vector
      - ./config:/config
      - ./data:/data/
      - wiki-data:/var/www/html/images
      - ./tests:/var/www/html/gb-tests
    environment:
      - MV_ENV=dev
      - COMPOSER_ROOT_VERSION=1.43.5
    restart: unless-stopped

volumes:
  db-data:
  wiki-data: {}
