<section class="landing-page-section-container">
    <h2>Today in gaming history</h2>
    <div class="games-container">
        {{#tigGames}}
            {{> game-card }}
        {{/tigGames}}
    </div>
</section>
<hr class="highlight" />
