<div class="page-wrapper">
    {{> header }}

    <div id="landing-page-container">

        {{> search }}

        {{> wiki-button-group }}

    <div id="dynamic-content">
        <hr class="highlight" />

        <div class="all-games-section">
            <h2>All Games</h2>
            <div class="game-grid">
                {{#games}}
                    {{> game-card }}
                {{/games}}
            </div>
        </div>

    </div>
</div>
