<section class="landing-page-section-container">
    <h2>Random games</h2>
    <div class="random-games-container">
        {{#games}}
            {{> game-card }}
        {{/games}}
    </div>
</section>
<hr class="highlight" />
