<section class="landing-page-section-container">
    <h2>What's Hot</h2>
    <div class="games-container">
        {{#hotGames}}
            {{> game-card }}
        {{/hotGames}}
    </div>
</section>
<hr class="highlight" />
