<div id="mw-wrapper">
	{{>Header}}
	<div class="mw-body" id="content" role="main">		
		<div class="mw-body-main" id="mw-main" >
			<div id="siteNotice">{{{html-site-notice}}}</div>
			{{{html-user-message}}}
			<div class="mw-indicators">
			{{#array-indicators}}
			<div id="{{id}}" class="{{class}}">{{{html}}}</div>
			{{/array-indicators}}
			</div>
			{{{html-title-heading}}}			
			<div class="mw-body-content">
				{{{html-body-content}}}				
				<div class="visualClear"></div>
				{{#data-portlets}}
				{{>CategoryPortlet}}
				{{/data-portlets}}
			</div>
			{{{html-after-content}}}
		</div>		
	</div>	
	{{#data-footer}}{{>Footer}}{{/data-footer}}
</div>
